body {
    margin: 0px;
    padding: 0px;
}


/* Navbar section */
#navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(223, 220, 220);
    z-index: 1;
}

#head {
    font-size: 10px;
    position: relative;
    margin-left: 125px;
}

#nav {
    position: relative;
    margin-right: 125px;
}

#nav a {
    padding: 16px;
    background: darkgray;
}

#name {
    font-size: 25px;
}

/* Biography section */
#infoSection {
    display: flex;
    flex-direction: row;
    height: 450px;
    margin-top: 50px;
}

#profile {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bottom;
}

#profile img {
    border-color: whitesmoke;
    border-radius: 115px;
    border-style: solid;
    border-width: thick;
    background: white;
}

#info{
    width: 70%;
    background: whitesmoke;
}

#bio {
    margin: 45px;
    margin-right: 135px;
}

/* Skills Sections */
#skillSection {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center
}

#skillTitle {
    font-size: 30px;
}

#skillList {
    display: flex;
    flex-wrap: wrap;
}

#skillList p {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

/* customizes the images of the projects */
#projectSection {
    display: flex;
    flex-direction: row;
    background: bottom;
}
#title {
    display: flex;
    justify-content: center;    
    width: 30%;
    margin-top: 10px;
    font-size: 30px;
} 

#project {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: whitesmoke;
}

#work {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

#proTitle {
    width: 50%;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

#project img {
    width: 275px;
    height: 165px;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    position: relative;
    margin-right: 50px;
}

/* Contact information */
#contactSection {
    display: flex;
    background: aliceblue;
}

#contactTitle {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-size: 30px;
}

#contactInfo {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    font-size: 20px;
}

#contactInfo li {
    margin: 25px;
}


/* * {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: paleturquoise;
}

/* HEADERS CUSTOMIZATION */
/* h1 {
    color: darkblue;
    padding: 10px;
    margin: 22px;
    border-style: solid;
    border-width: 5px;
    border-color: darkslateblue;
    border-radius: 24px;
    width: 320px;
    font-size: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: skyblue;
} */

/* h2 {
    font-size: 150%;
    margin: 25px;
    border-style: solid;
    border-width: thick;
    border-radius: 30px;
    border-color: darkblue;
    width: 15%;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

header .avatar {
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 15px;
} */

/* NAVBAR CUSTOMIZATION  */
/* .navbar {
    display: flex;
    list-style-type: none;
    width: 100%;
    background-color: lightskyblue;
    border-style: solid;
    border-width: 5px;
    border-color: darkslateblue;
} */

/* .navbar a {
    display: inline;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-color: darkslateblue;
    margin: -2px;
    width: 25%;
    height: 30px;
    text-align: center;
    background-color: cornflowerblue;
} */

/* ABOUT ME SECTION */
/* .info {
    margin: 5px;
}

p {
    margin: 15px;
} */

/* MY WORKS SECTION */
/* .MyWorks {
    display: flex;
    flex-wrap: wrap; */
    /* flex-direction: row;
    justify-content: space-around;
}

.works {
    width: 47%;
    height: 315px;
    margin: 10px;
    transition: transform 1s;
}

.iconTitle {
    font-size: 130%;
    padding: 10px;
    position: absolute;
    margin-top: -59px;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: indigo;
    background-color: antiquewhite;
}

.works:hover {
    transform: scale(1.045);
} */

/* IMAGES */
/* .MyWorks img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 4px;
} */

/* BACKGROUND IMAGE
.background {
    height: 450px;
    width: 100%;
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-position: center;
}


.infos {
    list-style-type: none;
    display: flex;
    background-color: lightcyan;
    width: 100.6%;
}

li {
    float: left;
    padding: 1.1%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-style: solid;
    border-width: 7px;
    border-color: darkblue;
    margin: -1.1px;
    background-color: lightskyblue;
    width: 95.6%;
    font-weight: bold; */
/* } */

/* Customizing the line breaks */
/* .line {
    border: 4px solid darkslateblue;
    border-radius: 15px;
    width: 98.5%;
    margin-left: .5%; */
/* } */

/* THIS ADJUSTS THE CSS FILE TO BE RESPONSIVE BASED ON SCREEN SIZE */
/* @media screen and (max-width: 768px) {
    
    .MyWorks {
      flex-direction: column;
      justify-content:space-around;
    }
    .works {
        width: 95%;
    }
    h2 {
        font-size: 132%;
        width: 35%;
    }
    .infos {
        flex-direction: column;
    }
    .navbar a {
        width: 95%;
    }
    .navbar {
        flex-direction: column;
        width: 102%;
    }
    .background {
        width: 104%;
    }

} */ 